<!--
  Generated template for the DatabaseStatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Database Stats</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="onToggleSearchBar()"><ion-icon name="search"></ion-icon></button>
      <button ion-button icon-only (click)="onStats()"><ion-icon name="stats"></ion-icon></button>
      <button ion-button icon-only (click)="onFilter($event)"><ion-icon name="funnel"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-searchbar *ngIf="showSearchBar" (ionInput)="getItems($event)" animated="true" showCancelButton="true" (ionCancel)="onSearchCancel()"></ion-searchbar>
  <ion-list >
    <ion-item-sliding *ngFor="let c of customers; let i = index;" no-padding no-margin [ngClass]="(i%2==0) ? 'animate-from-left-to-right':'animate-from-right-to-left'">
      <ion-item  (click)="onLoadCustomerCard(c,i)">
        <ion-grid no-margin no-padding>
          <ion-row>
            <ion-col>
              <h2>{{c.name}} {{c.surname}}</h2>
            </ion-col>
            <ion-col text-right>
              <h2>#{{c.barcode}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h3>{{c.visits}} Total visits | {{c.last_visit}}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>{{c.coupons_used}} Coupons Used</p>
            </ion-col>
            <ion-col text-right>
              <p>{{c.stamps}} Stamps</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" icon-left (click)="onDelete(c,i)"><ion-icon name="trash"></ion-icon>Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

    <!--<ion-card *ngFor="let c of customers">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col text-center>
              {{c.name}} {{c.surname}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-left>
              {{c.barcode}}
            </ion-col>
            <ion-col text-right>
              {{c.phone}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Stamps : {{c.stamps}}
            </ion-col>
            <ion-col text-right>
              Total Visits : {{c.visits}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Coupons Used : {{c.coupons_used}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-right>
              Last Visit : {{c.last_visit}}
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>-->

