
<ion-header>

  <ion-navbar>
    <ion-title>Καρτέλα {{ originalCustomer.name }} {{originalCustomer.surname}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngIf="mode=='scanned'">

    <ion-item center text-center>
      <h2>{{originalCustomer.name}} {{originalCustomer.surname}} </h2>
      <p>{{originalCustomer.barcode}} , {{originalCustomer.phone}}</p>
    </ion-item>


    <ion-card-content>

    <ion-row center text-center>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="trophy"></ion-icon>
          <div>{{originalCustomer.stamps}} Σφραγίδες</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="pricetags"></ion-icon>
          <div>{{originalCustomer.coupons_used}} Κουπόνια</div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row center text-center>
      <ion-col >
        <ion-note>
          {{originalCustomer.visits}} επισκέψεις
        </ion-note>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center text-center>
        <ion-note>
          Τελευταία επίσκεψη : {{originalCustomer.last_visit}}
        </ion-note>
      </ion-col>
    </ion-row>

    </ion-card-content>
  </ion-card>

  <ion-row *ngIf="mode=='scanned'">
    <ion-col>
      <button type="button" color="secondary" large ion-button block (click)="onConsumeCoupon()">Εξαργύρωση</button>
    </ion-col>
    <ion-col>
      <button type="button" large ion-button block (click)="onAddStamp()">Σφραγίδα</button>
    </ion-col>
  </ion-row>

  <form #f="ngForm" (ngSubmit)="onSaveCustomer(f)" *ngIf="mode=='edit'">

    <ion-list >
      <ion-item>
        <ion-label fixed>Όνομα</ion-label>
        <ion-input type="text" [ngModel]="originalCustomer.name" name="name" required [clearInput]="mode=='edit'" [readonly]="mode=='scanned'"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Επίθετο</ion-label>
        <ion-input [ngModel]="originalCustomer.surname" name="surname" required [clearInput]="mode=='edit'" [readonly]="mode=='scanned'"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Τηλέφωνο</ion-label>
        <ion-input [ngModel]="originalCustomer.phone" name="phone" required [clearInput]="mode=='edit'"  [readonly]="mode=='scanned'"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed text-wrap>Κωδικός</ion-label>
        <ion-input [ngModel]="originalCustomer.barcode" name="barcode" required readonly="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed >Σφραγίδες</ion-label>
        <ion-input [ngModel]="originalCustomer.stamps" name="stamps" required [readonly]="mode=='scanned'"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed text-wrap>Κουπόνια</ion-label>
        <ion-input [ngModel]="originalCustomer.coupons_used" name="coupons_used" required [readonly]="mode=='scanned'"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed >Επισκέψεις</ion-label>
        <ion-input [ngModel]="originalCustomer.visits" name="visits" required [readonly]="mode=='scanned'"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed text-wrap>Τελευταία επίσκεψη</ion-label>
        <ion-input [ngModel]="originalCustomer.last_visit" name="last_visit" required readonly="true"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row *ngIf="mode=='edit'">
      <ion-col>
        <button type="submit" ion-button block [disabled]="isFormTheSame(f)">Αποθήκευση</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mode=='edit'">
      <ion-col>
        <button type="button" color="danger"  ion-button block (click)="dismiss(null)">Ακύρωση</button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
