page-customer-home {

  #barcode_text{
    margin-top : -25px;
  }

  #barcode{
    border-radius: 0%;
    background-blend-mode: screen;
    mix-blend-mode: overlay;
    filter: invert(0%);
  }

  #first_row{
    height: 100%;
  }

  .side-background{
    h4 {
      color: #ffffff;
    }
    h6{
      color: #ffffff;
    }
    background-color: color($colors, secondary, base);
    margin: 2px;
  }

  ion-grid{
    height: 98%;
  }

  .rows{
    height:25%;
  }
}
