page-customer-home {

  .head{
    background-color : #2263d9;
  }

  .bottom{
    height : 100px;
    padding-top: 35px;
    border: 5px solid #2263d9;
    border-radius: 100%;
  }

  #barcode{
    object-fit: cover;
  }
}
