<!--
  Generated template for the OperatorHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Κεντρικό μενού
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="onSettings()"><ion-icon name="settings"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-card>
    <ion-card-header>
      Καλώς ήρθες, {{ operator.first_name }} {{operator.last_name}}
    </ion-card-header>
    <ion-card-content *ngIf="operator.access_level==1">
      Έχεις συνδεθεί ως Διαχειριστής [{{operator.username}}]
    </ion-card-content>
    <ion-card-content *ngIf="operator.access_level==2">
      Έχεις συνδεθεί ως Συντονιστής [{{operator.username}}]
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header>
      Διαχείριση συστήματος
    </ion-card-header>
    <ion-card-content>
      <ion-row >
        <ion-col text-center *ngIf="operator.access_level==1">
          <button ion-button block text-wrap>Διαχείριση συντονιστών</button>
        </ion-col>
        <ion-col text-center >
          <button ion-button block text-wrap>Διαχείριση πελατών</button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="operator.access_level==1">
        <ion-col text-center >
          <button ion-button block text-wrap>Διαχείριση κουπονιών</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="operator.access_level==1">
    <ion-card-header>
      Βοηθήματα διαχειριστή
    </ion-card-header>
    <ion-card-content>
      <ion-row >
        <ion-col text-center>
          <button ion-button color="danger"  block (click)="openDatabaseStats()" text-wrap>Βάση δεδομένων</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <button ion-button color="dark"  full (click)="openGraphs()" text-wrap>Γραφήματα</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <button class="bigManualBtn" *ngIf="operator.access_level==2"  ion-button color="dark" large block (click)="openManualAlert()" text-wrap icon-left><ion-icon name="barcode"></ion-icon>Εισαγωγή κωδικού</button>
  <button class="bigScanBtn" *ngIf="operator.access_level==2"  ion-button color="danger" large block (click)="openQrPage()" text-wrap icon-left><ion-icon name="qr-scanner"></ion-icon>Γρήγορη σαρωση</button>

</ion-content>
