page-operator-home {
  .head{
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .bottom{
    height : 100px;
    border: 5px solid #2da7bf;
    border-radius: 100%;
  }

  #barcode{
    border-radius: 100%;
    background-blend-mode: multiply;
    mix-blend-mode: screen;
  }




  #footer{
    margin-top: -20px;
  }

  .bigScanBtn{
    position: absolute;
    bottom: 10px;
  }

  .bigManualBtn {
    position: absolute;
    bottom: 80px;
  }
}
